html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  display: flex;
  height: 100vh;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/photo-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
}

.main__title {
  font-size: 52px;
  color: #ffffff;
}

.overlay {
  position: relative;
  width: 2%;
  height: 100%;
  background-image: url(../img/photo-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  transition: 1.2s linear;
  z-index: 4;
}

.overlay:hover {
  transition: 0s linear;
  opacity: 0;
}
